@import "tailwindcss";

@theme inline {
  --color-background: #fafafa;
  --color-foreground: #1c1a19;
  --color-primary: #a58c69;
  --color-secondary: #edecea;
  --color-accent: #f8f4ed;

  --font-title: var(--font-centralAvenuePro);
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100dvh;
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-ibmPlexMono);
    scroll-behavior: smooth;
  }
}
